@font-face {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-style: normal;

}


body {
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  color:#0F0A01;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight:700;
  margin:0 0 24px;
  line-height:1.1;
}

p {
  font-family: 'Roboto Slab', serif;
  color: #4A4A4A;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 40px;
}

a {
  font-family: 'Roboto Slab', serif;
  color: #4A4A4A;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  font-family: 'Roboto Slab', serif;
  color: #0098D8;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 700;
  text-decoration: none;

}

.type2 a:link {
  font-family: 'Roboto Slab', serif;
  color: #4A4A4A;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 700;
  padding-left: 16px;
  text-decoration: none;
}

.type2 a:hover {
  font-family: 'Roboto Slab', serif;
  color: #0098D8;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 700;
  padding-left: 16px;
  text-decoration: none;
}

.separator {
    background-color: #E1E0DD;
    width: 88px;
    height: 2px;
    margin-top: 24px;
}

.wrapper {
  width:960px;
  max-width:33%;
  margin-left: 213px;
  margin-top: 172px
}

.platformlinks {
  width:960px;
  max-width:100%;
  margin-top: 24px;
}

@media screen and (min-width: 1920px) {
  .wrapper {
    width:960px;
    max-width:33%;
    margin-left: 213px;
    margin-top: 172px
  }
}

}
